<h1>Cines con Películas</h1>
<a href=""></a>
<a (click)="generarReporte()">ver reporte</a>&nbsp;&nbsp;

<!-- Búsqueda por cine -->
<form (ngSubmit)="buscarPorCine()">
  <label for="cine">Buscar por cine:</label>
  <input type="text" id="cine" [(ngModel)]="busquedaCine" name="cine" />
  <button type="submit">Buscar</button>
</form>

<!-- Búsqueda por película -->
<form (ngSubmit)="buscarPorPelicula()">
  <label for="pelicula">Buscar por película:</label>
  <input
    type="text"
    id="pelicula"
    [(ngModel)]="busquedaPelicula"
    name="pelicula"
  />
  <button type="submit">Buscar</button>
</form>

<!-- Resultados de la búsqueda -->
<div *ngIf="resultadosBusqueda.length > 0">
  <h2>Resultados de la búsqueda:</h2>
  <ul>
    <li *ngFor="let resultado of resultadosBusqueda">
      {{ resultado.cine.nombre }}
      <span *ngFor="let pelicula of resultado.peliculas"
        >| {{ pelicula.titulo }} |
      </span>
    </li>
  </ul>
</div>

<!-- Mostrar todos los cines con películas -->
<div *ngFor="let cine of cinesConPeliculas">
  <h2>{{ cine.cine.nombre }}</h2>
  <ul>
    <li *ngFor="let pelicula of cine.peliculas">
      {{ pelicula.titulo }}
    </li>
  </ul>
</div>
