<app-navbar></app-navbar>
<section class="content">
  <h2>Listado de Películas</h2>
  <table>
    <tr>
      <th>Título</th>
      <th>Director</th>
      <th>Clasificación</th>
      <th>Protagonista</th>
      <th>Género</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let pelicula of peliculas">
      <td>{{ pelicula.titulo }}</td>
      <td>{{ pelicula.director }}</td>
      <td>{{ pelicula.clasificacion }}</td>
      <td>{{ pelicula.protagonista }}</td>
      <td>{{ pelicula.genero }}</td>
      <td>
        <button (click)="eliminarPelicula(pelicula._id)">Eliminar</button>
        <button (click)="editarPelicula(pelicula)">Editar</button>
      </td>
    </tr>
  </table>
</section>
