<app-navbar></app-navbar>
<section class="content">
  <div *ngIf="tarifas.length > 0">
    <table>
      <thead>
        <tr>
          <th>Día</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarifa of tarifas; let i = index">
          <td>{{ tarifa.dia }}</td>
          <td>{{ tarifa.precio }}</td>
          <td>
            <button (click)="eliminarTarifa(tarifa)">Eliminar</button>
            <button (click)="editarTarifa(tarifa)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Formulario para crear una nueva tarifa -->
  <h2>Nueva Tarifa</h2>
  <form (submit)="crearTarifa()">
    <label>
      Día:
      <input type="text" [(ngModel)]="nuevaTarifa.dia" name="dia" required />
    </label>
    <label>
      Precio:
      <input
        type="number"
        [(ngModel)]="nuevaTarifa.precio"
        name="precio"
        required
      />
    </label>
    <button type="submit">Crear Tarifa</button>
  </form>
</section>
<!-- Mostrar tarifas existentes -->
